easyocr==1.7.1
lxml[html_clean]==5.2.2
mammoth==1.8.0
markdownify==0.13.1
openpyxl==3.1.5
pandas==2.2.2
pdfminer.six==20240706
pdfminer==20191125
puremagic==1.26
pydub==0.25.1
pdf2image==1.17.0
pyparsing==3.1.2
python-pptx==0.6.23
readability-lxml
SpeechRecognition[whisper-local]==3.10.4
xlrd==2.0.1
youtube-transcript-api==0.6.2