Faker==30.1.0
Farama-Notifications==0.0.4
Flask==3.0.3
GitPython==3.1.43
Jinja2==3.1.4
Levenshtein==0.25.1
MarkupSafe==2.1.5
PyYAML==6.0.2
Pygments==2.18.0
RapidFuzz==3.10.0
SQLAlchemy==2.0.35
SpeechRecognition==3.10.4
TapeAgents==0.0.3
TapeAgents==0.0.3
Werkzeug==3.0.4
XlsxWriter==3.2.0
accelerate==0.34.2
aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiolimiter==1.1.0
aiosignal==1.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.6.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
autocommand==2.2.2
backports.tarfile==1.2.0
beartype==0.12.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.2
browsergym-core==0.3.5
browsergym-experiments==0.3.5
browsergym-miniwob==0.3.5
browsergym-webarena==0.3.5
browsergym-workarena==0.3.1
browsergym==0.3.5
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
cobble==0.1.4
comm==0.2.2
contourpy==1.3.0
cryptography==43.0.1
cssselect==1.2.0
cycler==0.12.1
dataclasses-json==0.6.7
datasets==2.21.0
debugpy==1.8.6
decorator==5.1.1
deepspeed==0.15.1
defusedxml==0.7.1
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
docker-pycreds==0.4.0
docstring_parser==0.16
easyocr==1.7.1
einops==0.8.0
english-words==2.0.1
evaluate==0.4.3
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.112.4
fastjsonschema==2.20.0
ffmpy==0.4.0
filelock==3.16.1
flake8==6.0.0
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.6.1
gguf==0.9.1
gitdb==4.0.11
googlesearch-python==1.2.4
gradio==4.39.0
gradio_client==1.1.1
greenlet==3.0.0
gymnasium==0.29.1
h11==0.14.0
hjson==3.1.0
httpcore==1.0.6
httptools==0.6.1
httpx==0.27.2
huggingface-hub==0.25.1
hydra-core==1.3.2
idna==3.10
imageio==2.35.1
importlib_metadata==8.0.0
importlib_metadata==8.5.0
importlib_resources==6.4.0
importlib_resources==6.4.5
inflect==7.3.1
iniconfig==2.0.0
interegular==0.3.3
ipykernel==6.29.5
ipython==8.28.0
ipywidgets==8.1.5
itsdangerous==2.2.0
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jedi==0.19.1
jiter==0.5.0
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema-specifications==2023.12.1
jsonschema==4.23.0
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
langchain-community==0.0.38
langchain-core==0.1.52
langsmith==0.1.130
lark==1.2.2
lazy_loader==0.4
libwebarena==0.0.3
litellm==1.37.9
llvmlite==0.43.0
lm-format-enforcer==0.10.6
lxml==5.2.2
lxml_html_clean==0.2.2
mammoth==1.8.0
markdown-it-py==3.0.0
markdownify==0.13.1
marshmallow==3.22.0
matplotlib-inline==0.1.7
matplotlib==3.9.0
mccabe==0.7.0
mdurl==0.1.2
mistral_common==1.4.4
mistune==3.0.2
more-itertools==10.3.0
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.18.6
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.1
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.560.30
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.77
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
openai-whisper==20240930
openai==1.51.0
opencv-python-headless==4.10.0.84
orjson==3.10.7
outlines==0.0.46
packaging==23.2
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
partial-json-parser==0.2.1.1.post4
pathvalidate==3.2.0
pdfminer.six==20240706
pdfminer==20191125
peft==0.12.0
pexpect==4.9.0
pillow==10.4.0
pip==24.2
platformdirs==4.2.2
platformdirs==4.3.6
playwright==1.39.0
pluggy==1.5.0
podman==5.0.0
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
protobuf==5.28.2
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.26
py-cpuinfo==9.0.0
pyairports==2.1.1
pyarrow==17.0.0
pyclipper==1.3.0.post5
pycodestyle==2.10.0
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.9.1
pydantic_core==2.23.3
pydub==0.25.1
pyee==11.0.1
pyflakes==3.0.1
pyparsing==3.1.2
pytest==8.3.3
python-bidi==0.6.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.12
python-pptx==0.6.23
pytz==2024.2
pyxdg==0.28
pyzmq==26.2.0
ray==2.37.0
readability-lxml==0.8.1
referencing==0.35.1
regex==2024.9.11
requests-toolbelt==1.0.0
requests==2.32.3
rich==13.9.1
rpds-py==0.20.0
ruff==0.6.6
safetensors==0.4.5
scikit-image==0.24.0
scipy==1.14.1
seaborn==0.13.2
semantic-version==2.10.0
sentencepiece==0.2.0
sentry-sdk==2.15.0
setproctitle==1.3.3
setuptools==75.1.0
shapely==2.0.6
shellingham==1.5.4
shtab==1.7.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soundfile==0.12.1
soupsieve==2.6
stack-data==0.6.3
starlette==0.38.6
sympy==1.13.3
tavily-python==0.3.4
tenacity==8.5.0
termcolor==2.4.0
testbook==0.4.2
text-generation==0.7.0
tifffile==2024.9.20
tiktoken==0.7.0
tinycss2==1.3.0
tokenizer==3.4.5
tokenizers==0.20.1
tomli==2.0.1
tomli==2.0.2
tomlkit==0.12.0
torch==2.4.0
torchvision==0.19.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.45.2
triton==3.0.0
trl==0.10.1
typeguard==4.3.0
typer==0.12.5
types-tqdm==4.66.0.20240417
typing-inspect==0.9.0
typing_extensions==4.12.2
typing_extensions==4.12.2
tyro==0.8.11
tzdata==2024.2
urllib3==2.2.3
uvicorn==0.31.0
uvloop==0.20.0
vllm-flash-attn==2.6.1
vllm==0.6.1
wandb==0.17.8
watchfiles==0.24.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==11.0.3
wheel==0.43.0
wheel==0.44.0
widgetsnbextension==4.0.13
xformers==0.0.27.post2
xxhash==3.5.0
yarl==1.13.1
youtube-transcript-api==0.6.2
zipp==3.19.2
zipp==3.20.2